.child{
    width:50%;
    margin: 14vh 0;
    float:left;
}

.child h1 {
    text-align: center;
    padding: 2% 0;
    width:fit-content;
    margin: 0 auto;
}

label {
    color: white;
}

::placeholder {
    color: #BCBCBC;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--main-color) inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: var(--sec-font-color) !important;
}

.text {
    margin-top: 30px;
    color: #FFFFFF;
}

form{
    background-color: rgba(245, 245, 245, 0.957);
    padding:2.5em;
    border: solid darkgray;
    width:80%;
    margin-left: 5em;
    margin-right:0;
    border-radius:15px;
}

.form-control {
    position: relative;
    margin: 1em 0;
    width: 100%;
    border-radius:10px;
    float:left;
}

input {
    border-style: none;
    border-bottom: none;
    display: block;
    width: 100%;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    color: rgb(76, 76, 76);
    z-index: 0;
}

input:focus, input:valid {
    outline: 0;
}

input:focus+label span,
input:valid+label span {
    color: var(--main-font-color);
    transform: translateY(-30px);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border:none;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    color: var(--sec-font-color);
} 

footer{
    position:fixed;
    left:0;
    bottom:0;
}

button{
    width:100%;
    margin:1em 0;
}

#sidePic{
    width:40vw;
    margin:15vh 2em 0 2.5em;
    display:inline;
    float:left;
}

@media screen and (max-width: 800px){
    .child{
        width:90%;
        margin: 10vh 5%;
    }

    form{
        padding:2.5em;
        width:100%;
        margin-left: 0;
    }

    #sidePic{
        width:90%;
        display:block;
        margin: 2em auto;
        float:none;
    }

    footer{
        position:relative;
    }
}