#background{
    width: 100%;
    height:70vh;
    clip-path: polygon(100% 43%, 0% 100%, 100% 100%);
    background-color: var(--main-color);
    margin-top:-40vh;
}

#planVisit{
    padding: 10vh 5vw 0vh 5vw;
    background-color: transparent;
}

header{
    border-bottom:solid .5px white;
}

footer{
    border-top:solid .5px white;
}

h1{
    margin-bottom:.5em;
}

h2{
    margin-bottom:.25em;
}

h3{
    color:var(--font-color1);
    padding: 1em;
    background-color: transparent;
}

.motto{
    width:80%;
    margin:5em auto 0 auto;
    text-align: center;
}

.motto p{
    line-height: 2.5em;
    background-color: transparent;
}

#expectations{
    color:white;
    background-color: var(--main-color);
    width:100%;
    height:fit-content;
    margin:0;
}

.bottomInfo{
    padding: 2em auto;
    width: 100%;
    background-color: var(--main-color);
    height:40vh;
}

.bottomInfo p{
    color:var(--font-color1);
}

#hrFix{
    background-color: var(--main-color);
    padding: 3em 0;
}

.left,.right{
    float:left;
    width:50%;
    background-color: var(--main-color);
    padding: 1em 2.5em;
}

@media screen and (max-width: 800px){
    .left,.right{
        width:100%;
    }
}