*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:var(--font2);
}

:root {
    --font1: 'Sacramento', cursive;
    --font2: 'Inter', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --font-color1:white;
    --bg: #f8f8f8e3;
    --main-color: #062A40;
    --main-dark-color: white;
    --sec-color: #C11C14;
    --third-color: #86A69D;
}

a{
    color:white;
    text-decoration: none;
}

h1{
    font-size:7vh;
}

h2{
    font-size: 5vh;
}

p{
    font-size: 2.5vh;
    line-height: 25px;
}

body{
    background-color: var(--bg);
}


header{
    text-align: center;
    position:fixed;
    z-index: 5;
    width:100%;
    height:55px;
    background-color: var(--main-color);
}

nav{
    position:absolute;
    text-align: center;
    top:-100%;
    left:0;
    padding-top:6em;
    background-color: var(--main-color);
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin:0;
    margin-top:30px;
    padding:0;
    list-style: none;
}

nav li{
    padding: 0 0 1em 3em;
    margin-top:-.5em;
    margin-left:-55px;
}

nav li a{
    font-family: var(--font2);
}

nav a{
    color:var(--bg);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:var(--third-color);
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 250ms ease-in-out 300ms;
}


.nav-toggle{
    display:none;
}

.nav-toggle-label{
    position:absolute;
    top:30px;
    left:0;
    margin-left:1em;
    height:5%;
    display:flex;
    align-items: center;
}

span {
    font-size: 18px;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after{
    width:1.5em;
    display:block;
    background-color: var(--main-dark-color);
    height:2px;
    border-radius: 2px;
    position:relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after{
    content:'';
    position:absolute;
}

.nav-toggle-label::before{
    bottom:7px;
}

.nav-toggle-label::after{
    top:7px;
}

#logoTop{
    display:none;
}

.hero-image{
    height:300px;
    width:100%;
}

#logos{
    width:50%;
}

#Leadership{
    background-image: url('_images/home/leadership.jpeg');

}

#vision{
    background-image: url('_images/home/vision:mission.jpg');
}

#prayer{
    background-image: url('_images/home/littleGirlPraying.webp');
}

#about{
    background-image: url('_images/home/about.webp');
}

#Classes{
    background-image: url('_images/home/classes.jpg');
}

#place{
    background-image: url('_images/home/place-to-meet.jpg');
}

#shared{
    background-image: url('_images/home/shared-space.jpg');
}

#class{
    background-image: url('_images/home/calendar.jpg');
}

footer{
    width:100%;
    background-color: var(--main-color);
    display:inline-block;
    bottom:0;
}

#address{
    padding: 1em;
    color:var(--font-color1);
    width:100%;
    text-align: center;
}

#logos{
    float:left;
    width:100%;
}

#logosContainer{
    width:fit-content;
    margin: 1em auto;
}

.logo{
    float:none;
    margin: 0 1em; 
    width:50px;
}

.logo:hover{
    opacity: .8;
    cursor:pointer;
}

button{
    background-color:var(--sec-color);
    padding:2%;
    border-radius:5px;
    border-style:none;
    margin:10px;
    color:var(--font-color1);
}

button:hover{
    opacity:.9;
}

.hero-image {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #hero{
    background-image: url("_images/sharedSpace/frontChurch.webp");
  }

  #hero-text-position{
    width: 95vw;
    display: block;
    margin: 0 auto;
    height:600px;
    padding-top:20vh;
    padding-left: 2vw;
  }
  
  .hero-text {
    display:block;
    position:static;
    text-align: center;
    color: white;
    background-color: #062a4092;
    padding:2em;
    border-radius: 15px;
    z-index: 300;
  }

  #text{
    width:90%;
    margin: 2em 5%;
    text-align: center;
  }

  #text h2{
    margin: .7em 0;
  }

  #thingsGoingOn{
    background-color: #062A40;
    height:fit-content;
    border-bottom:1px solid white;
  }

  .thingsInnerText{
    color:white;
    width:90%;
    margin: 0 5%;
    text-align: center;
    padding: 2em 0;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    width:100%;
    margin: 2em auto 4em auto;
    text-align: center;
  }


.flex-item {
    background-color: var(--bg);
    padding: 10px;
    width:275px;
    height:275px;
    margin:.5em auto;
    color:white;
    text-shadow: #062A40;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    height:fit-content;
    background-size:cover;
  }

  .innerText{
    width:fit-content;
    height:fit-content;
    margin: 40% auto;
  }

  .flex-item:hover{
    transform: scale(1.1);
  }

    
@media screen and (min-width: 800px){

    .nav-toggle-label{
        display:none;
    }

    .hero-image{
        height:700px;
    }

    #hero-text-position{
        width: 100%;
        height: 700px;
    }

    .hero-text{
        text-align: left;
        font-size: 20px;;
        margin: 7% 0 0 0;
        width: fit-content;
        display: block;
    }

    button:hover{
        cursor: pointer;
    }

    .hero-text button{
        margin:10px 0;
        bottom:10%;
        padding:15px 20px;
    }

    header{
        width:100%;
        background:var(--main-color);
        top:0;
        height:55px;
        box-shadow: 0px 0px 5px 0px var(--main-font-color);
    }

    nav a{
        opacity:1;
    }

    nav ul{
        display:flex;
        justify-content: center;
    }

    nav li{
        margin-left:-30px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        font-family: var(--font2);
    }

    nav li a:hover {
        text-decoration: none;
        color: var(--third-color);
    }

    nav {
        all:unset;
        display:flex;
        position: sticky;
        float:right;
        margin-right: 12vw;
        position: -webkit-sticky;
        z-index: 5;
    }


    nav ul {
        display: flex;
        justify-content: space-between;
        position:relative;
        margin: 1.5em auto;
        margin-right:2em;
    }

    nav li {
        display: inline;
        color: var(--main-color);
        font-family: var(--font2);
        font-size: 1.1em;
        margin-right: 10%;
        padding: 0 1em;
    }

    #logoTop{
        display:block;
        float:left;
        width:3.5em;
        height:auto;
        margin: .25em 0 0 1.5em;
    }

    footer{
        margin-bottom:-1em;
    }

    #address{
        padding: 1em;
        color:var(--font-color1);
        width:50%;
        float:left;
        text-align: left;
    }
    
    #logos{
        float:left;
        width:50%;
        margin: 1.5em 0;
    }
    
    .logo{
        float:right;
    }

    #logosContainer{
        width:auto;
        margin:0;
    }
    #give{
        background-color: #C11C14;
        padding: .25em 1.5em;
        border-radius:10px;
        width:10%;
        margin: 5em auto 1em auto;
        margin-top: 3em;
    }
}

#give{
    margin-top:-.75em;
    margin-left:-.75em;
}

#give>a{
    margin-left:-.75em;
}


section{
    margin:10em;
}